body{
    background: lightblue;
    margin: 10px;
}

.container{

    background: whitesmoke;
    width: 960px;
    margin: auto;
}

.header{
    background: orange;
    text-align: center;
    
}

.text{
    background: beige;
    color: green;
    padding: 20px;
    font-size: 18px;
    box-sizing: border-box;
}
.objectiveStats{
    box-sizing: border-box;

}
.random{
    background: green;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.stats{
    background: aqua;
    margin: auto;

}

#crystal{
    margin: 0 auto;
    margin-bottom: 10px;
    clear: both;
    background: whitesmoke;
    text-align: center;
}
img:hover {
  background: darkorange;
}

img{
    
    width: 200px;
    height: 200px;
    
}

.total-score{
    background: teal;
    margin-bottom: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 28px;
    color: whitesmoke;

}

#counter{
    background: teal;
    font-size: 50px;
    text-align: center;
    box-sizing: border-box;

}